/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/

* {
    background: #25283d;
    color: #98dfea;
}

header {
    display: flex;
}

section {
    display: flex;
    justify-content: center;
}

h2 {
    justify-content: flex-start;
}

nav {
    justify-items: space-evenly;
}

div, section, header, footer {
    border: 3px solid white;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 10vw;
    cursor: pointer;
    border-radius: 25%;
}

.landing {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.img-landing {
    height: auto;
    width: 60vw;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.image-container img {
    height: 30vh;
    width: 20vw;
    margin: 5vw;
}